vale-styles/*
!vale-styles/config/
vale-styles/config/*
!vale-styles/config/vocabularies/
vale-styles/config/vocabularies/*
!vale-styles/config/vocabularies/**/
!vale-styles/config/vocabularies/**/*.txt

public/
resources/
