@font-face {
    font-family: "DM Sans";
    src: url('/fonts/DMSans-Variable.ttf') format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: url('/fonts/Merriweather-Variable.ttf') format("truetype");
}

@font-face {
    font-family: "Source Code Pro";
    src: url('/fonts/SourceCodePro-Variable.ttf') format("truetype");
}

:root {
  --serif: "Merriweather", serif;
  --sans: "DM Sans", sans-serif;
  --mono: "Source Code Pro", monospace;
}

html {
  font-family: var(--serif);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:is(h1, h2, h3, h4, h5, h6), .main-menu {
  font-family: var(--sans);
  text-wrap: balance;
}

:is(a):hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

:is(blockquote) {
  font-family: var(--serif);
  border: 0;
}

:is(pre, code) {
  font-family: var(--mono);
}

.article-content li {
  margin: 0.1rem;
}

.article-content li p {
  margin: 0.8rem;
}