@font-face {
    font-family: "Merriweather";
    src: url('/fonts/Merriweather-Variable.ttf') format("truetype");
}

@font-face {
    font-family: "Source Code Pro";
    src: url('/fonts/SourceCodePro-Variable.ttf') format("truetype");
}

:root {
  --serif: "Merriweather", serif;
  --mono: "Source Code Pro", monospace;
}

html {
  font-family: var(--serif);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--serif);
  text-wrap: balance;
}

:is(a):hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

:is(blockquote) {
  font-family: var(--serif);
  font-size: 1.2rem;
  border: 0;
}

:is(pre, code) {
  font-family: var(--mono);
}