:root {
    --font: "Lato", sans-serif;
    --serif: var(--font);
    --sans: var(--font);
    --mono:   "Cousine", monospace;
}

html {
    font-family: var(--serif);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:is(h1, h2, h3, h4, h5, h6),
.main-menu {
    font-family: var(--sans);
    text-wrap: balance;
}

article :is(a):hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

:is(blockquote) {
    font-family: var(--serif);
    font-style: initial;
}

:is(pre, code) {
    font-family: var(--mono);
}

.article-content li {
    margin: 0.1rem;
}

.article-content li p {
    margin: 0.8rem;
}
