@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --noto-sans: "Noto Sans", sans-serif;
    --noto-serif: "Noto Serif", serif;
}

html {
    font-family: var(--noto-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--noto-serif);
    text-wrap: balance;
}

:is(a):hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}