@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --mono: "Cousine", monospace;
}

html {
  font-family: var(--mono);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--mono);
  text-wrap: balance;
  line-height: 1;
}

:is(a):hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

:is(blockquote) {
  font-family: var(--mono);
  font-size: 1.2rem;
  border: 0;
}

:is(pre, code) {
  font-family: var(--mono);
}