@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto-VariableFont.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto Serif";
    src: url('/fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto Mono";
    src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format("truetype");
}

:root {
  --serif: "Roboto Serif", serif;
  --sans: "Roboto", sans-serif;
  --mono: "Roboto Mono", monospace;
}

html {
  font-family: var(--sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:is(h1, h2, h3, h4, h5, h6), .main-menu {
  font-family: var(--sans);
  text-wrap: balance;
}

:is(a):hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

:is(blockquote) {
  font-family: var(--serif);
  border: 0;
}

:is(pre, code) {
  font-family: var(--mono);
}

.article-content li {
  margin: 0.1rem;
}

.article-content li p {
  margin: 0.8rem;
}